<?xml version="1.0" ?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dhlshippingsolutions>
            <dpim>
                <version>2.1.0</version>
                <general>
                    <logging_group>
                        <loglevel>400</loglevel>
                    </logging_group>
                </general>
                <account>
                    <portokasse_password backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                </account>
            </dpim>
        </dhlshippingsolutions>
    </default>
</config>
