<?xml version="1.0" ?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dhlshippingsolutions">
            <group id="dpim" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="220" translate="label">
                <label>Deutsche Post Internetmarke</label>

                <!-- Custom information section -->
                <field id="dpimInfoBox" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1"
                       extends="dhlshippingsolutions/dhlglobalwebservices/shippingCoreInfoBox">
                    <frontend_model>Netresearch\ConfigFields\Block\InfoBox</frontend_model>
                    <attribute type="body_template">DeutschePost_Internetmarke::system/config/infobox.phtml</attribute>
                    <attribute type="view_model">DeutschePost\Internetmarke\ViewModel\Adminhtml\System\InfoBox</attribute>
                </field>

                <include path="DeutschePost_Internetmarke::system/100_account.xml"/>
                <include path="DeutschePost_Internetmarke::system/200_setup.xml"/>
            </group>
        </section>
    </system>
</config>
